@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<GigaChads.Dnn.Dnn.GigaChads.HelloWorld.Models.Item>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<div id="Items-@Dnn.ModuleContext.ModuleId">
    @{
        var itemsExist = false;
        foreach (var item in Model)
        {
            if (item != null)
            {
                itemsExist = true;
                break;
            }
        }
    }
    @if (!itemsExist)
    {
        <p>@Dnn.LocalizeString("NoItems")</p>
    }
    else
    {
        <ul class="tm_tl">
            @foreach (var item in Model)
            {
                if (item != null)
                {
                    <li class="tm_t">
                        <h3>@item.ItemName</h3>
                        <div class="tm_td">@item.ItemDescription</div>
                        @{
                            if (Dnn.ModuleContext.IsEditable)
                            {
                                <div>
                                    <a href="@Url.Action("Edit", "Item", new {ctl = "Edit", itemId = item.ItemId})">@Dnn.LocalizeString("EditItem")</a>
                                    <a href="@Url.Action("Delete", "Item", new {itemId = item.ItemId})">@Dnn.LocalizeString("DeleteItem")</a>
                                </div>
                            }
                        }
                    </li>
                }
            }
        </ul>
    }

</div>


<p> Kutyának vagy cicának szeretne foglalni?</p>


<div class="box">
    <a href="http://20.234.113.211:8096/%C3%81llatpanzi%C3%B3"><img src="https://blog.szallas.hu/wp-content/uploads/2017/05/10083725-1.jpg" alt="kutya" width="300" height="200"></a>
    <a>Kutya</a>
    <a href="http://20.234.113.211:8096/%C3%81llatpanzi%C3%B3"><img src="https://blog.szallas.hu/wp-content/uploads/2020/02/macska_shutterstock_1403136674.jpg" alt="cica" width="300" height="200"></a>
    <a>Cica</a>
</div>



