@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<GigaChads.Dnn.Dnn.GigaChads.HelloWorld.Models.Item>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<div id="Items-@Dnn.ModuleContext.ModuleId">
    @{
        var itemsExist = false;
        foreach (var item in Model)
        {
            if (item != null)
            {
                itemsExist = true;
                break;
            }
        }
    }
    @if (!itemsExist)
    {
        <p>@Dnn.LocalizeString("NoItems")</p>
    }
    else
    {
        <ul class="tm_tl">
            @foreach (var item in Model)
            {
                if (item != null)
                {
                    <li class="tm_t">
                        <h3>@item.ItemName</h3>
                        <div class="tm_td">@item.ItemDescription</div>
                        @{
                            if (Dnn.ModuleContext.IsEditable)
                            {
                                <div>
                                    <a href="@Url.Action("Edit", "Item", new {ctl = "Edit", itemId = item.ItemId})">@Dnn.LocalizeString("EditItem")</a>
                                    <a href="@Url.Action("Delete", "Item", new {itemId = item.ItemId})">@Dnn.LocalizeString("DeleteItem")</a>
                                </div>
                            }
                        }
                    </li>
                }
            }
        </ul>
    }

</div>


<p> Kutyának vagy cicának szeretne foglalni?</p>


<div class="box">
    <a href="@Url.Action("Create", "KutyaGrid", new {ctl = "Create"})"><img src="https://blog.szallas.hu/wp-content/uploads/2017/05/10083725-1.jpg" alt="kutya" width="300" height="200"></a>
    <a>Kutya</a>
    <a href="@Url.Action("Create", "CicaGrid", new {ctl = "Create"})"><img src="https://blog.szallas.hu/wp-content/uploads/2020/02/macska_shutterstock_1403136674.jpg" alt="cica" width="300" height="200"></a>
    <a>Cica</a>
</div>

<br>
<h3>
    Kisállat adatai:
</h3>

<br>

<label for="allat">Milyen kisállatnak szeretne foglalni?</label>

<select name="allat" id="allat">
    <option value="Kutya">kutya</option>
    <option value="Cica">cica</option>
</select>

<br>

<label for="meret">Kedvenc marmagassága:</label>

<select name="meret" id="meret">
    <option value="kicsi">Kis testű</option>
    <option value="kozepes">Közepes</option>
    <option value="nagy">Nagy testű</option>
</select>

<br>

<label for="datum">Kezdő dátum(EEEE.HH.NN):</label>
<input type="text" id="datum" name="datum">
<br>
<label for="idopont">Kezdő időpont(OO:PP):</label>
<input type="text" id="ido" name="ido">
<br>
<label for="idotartam">Időtartam:(Óra):</label>
<input type="text" id="idotartam" name="idotartam">

<br>
<h3>
    Elérhetőségek:
</h3>
<br>

<label for="nev">Teljes név:</label>
<input type="text" id="nev" name="nev">
<br>
<label for="telefon">Telefonszám:</label>
<input type="text" id="telefon" name="telefon">
<br>
<label for="email">Email cím:</label>
<input type="text" id="email" name="email">



<br>
<br>
<input type="submit" value="Foglalás elküldése">


